.selling-cart-table {
    margin-top: 45px;
  }
  
  .sselling-cart-table button {
    margin-left: 5px;
    margin-top: 5px;
  }

  .selling-cart-table .total {
    width: 20%;
    float: right;
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;
  }

  .selling-cart-table .total .cart-icon {
    font-size: 2rem;
    margin-right: 10px;
}